registry=https://registry.npmjs.org/
legacy-peer-deps=true
auto-install-peers=true
fund=false
node-linker=hoisted
audit=false
loglevel=error
prefer-offline=true
fetch-retries=5
fetch-retry-factor=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
